ArmTemplate_2.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "ahub-d-adf-vazacprocd01-integrations"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Test_Audit')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Auditing_Log_Start",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "PipelineName": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Pre_Processing_Validation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Auditing_Log_Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Pre_Processing_Validation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Auditing_Log",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Post_Processing_Validation",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Post_Processing_Validation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Pre_Processing_Validation",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Post_Processing_Validation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "Annuity_To_Axis"
                },
                "annotations": [],
                "lastPublishTime": "2021-12-15T12:31:39Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Test_Master_Input_Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Pre_Processing_Validation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Auditing_Log_Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Pre_Processing_Validation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Post_Processing_Validation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Pre_Processing_Validation",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Post_Processing_Validation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Auditing_Log_Start",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "PipelineName": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Auditing_Log_Start1",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Pre_Processing_Validation",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "PipelineName": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Auditing_Log_Start2",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Post_Processing_Validation",
                                "dependencyConditions": [
                                    "Failed",
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "PipelineName": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "variables": {
                    "ErrorMessage": {
                        "type": "String"
                    },
                    "Test": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Annuity_To_Axis"
                },
                "annotations": [],
                "lastPublishTime": "2021-12-11T23:46:29Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Input_Sub_Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Deposit_Info_File_Generation",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Deposit_Info_File_Generation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Deposit_Hist_File_Generation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Deposit_Info_File_Generation",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Deposit_Hist_File_Generation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Annuity_Data_File_Generation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Deposit_Hist_File_Generation",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Annuity_Data_File_Generation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "Annuity_To_Axis"
                },
                "annotations": [],
                "lastPublishTime": "2021-12-07T22:16:07Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Master_Input_Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Input_Sub_Pipeline",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Pre_Processing_Validation",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Input_Sub_Pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Pre_Processing_Validation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Ingest_External_System_To_AnnuityHub",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Pre_Processing_Validation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Post_Processing_Validation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Input_Sub_Pipeline",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Post_Processing_Validation",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Log Pipeline Start",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "PipelineName": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Log Pipeline End",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "File_Transfer_AnnuityHub_To_Axis",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "PipelineName": {
                                    "value": "@pipeline().Pipeline",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Control_Table",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Post_Processing_Validation",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Control_Table",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Log Pipeline Error0",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Pre_Processing_Validation",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "ErrorMessage": {
                                    "value": "@activity('Pre_Processing_Validation').output",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Log Pipeline Error1",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Input_Sub_Pipeline",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "ErrorMessage": {
                                    "value": "@activity('Input_Sub_Pipeline').output",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Log Pipeline Error2",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Post_Processing_Validation",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "ErrorMessage": {
                                    "value": "@activity('Post_Processing_Validation').output",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Log Pipeline Error3",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Control_Table",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "RunID": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "ErrorMessage": {
                                    "value": "@activity('Control_Table').output",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "File_Transfer_AnnuityHub_To_Axis",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Control_Table",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "File_Transfer_AnnuityHub_To_Axis",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Log Pipeline Error4",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "File_Transfer_AnnuityHub_To_Axis",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Ingest_External_System_To_AnnuityHub",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Log Pipeline Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Ingest_External_System_To_AnnuityHub",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Auditing_Log_Error",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Ingest_External_System_To_AnnuityHub",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Auditing_Log_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "Annuity_To_Axis"
                },
                "annotations": [],
                "lastPublishTime": "2021-12-14T23:52:09Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/Input_Sub_Pipeline')]"
            ]
        }
    ]
}